name: jd-screener-resume-picker-bot

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  SHEET_ID: ${{ secrets.SHEET_ID }} 
  REGION: us-central1
  # This sets the actual Cloud Run Service Name
  FUNCTION_NAME: jd-screener-resume-picker-bot

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Function App
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v4

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - id: 'deploy'
        uses: 'google-github-actions/deploy-cloud-functions@v2'
        with:
          name: '${{ env.FUNCTION_NAME }}'
          description: 'Gemini Resume Screener'
          runtime: 'python310'
          region: '${{ env.REGION }}'
          source_dir: './src'
          entry_point: 'handle_chat'
          memory_mb: '512'
          generation: '2nd' 
          env_vars: |-
            SHEET_ID=${{ env.SHEET_ID }}
            GCP_PROJECT_ID=${{ env.PROJECT_ID }}